img {
    width: 125px;
}

h5 {
    border-bottom: 2px solid black;
}

.score-box {
    background-color: rgba(179, 215, 255, 0.65);
    padding: 8px 10px;
    width: auto;
}

#message:empty {
    border: none;
}

#message {
    border: 2px dotted black;
    padding: 5px;
}